// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

//language-neutral
@skittle-gray: #969896;
@skittle-pink: #e24d94;
@skittle-white: white;
@skittle-ltorange: #f7ba5b;
@skittle-cyan: #55f1ff;

//PHP (Original Skittles)
@orange: #ec8022;
@green-apple: #5be728;
@grape: #429aff; //blue grapes, just because
@lemon: #f2e661;
@strawberry: #ef4040;

//JS (Tropical Skittles)
@mango-tangelo: #ff9d00;
@pineapple-passionfruit:#5fa9fa;
@strawberry-starfruit:#f28c9f;
@banana-berry: #f1ff5f;
@kiwi-lime: #adfa72;

//HTML (Wild Berry Skittles)
@berry-punch: #632e6d; //violet
@melon-berry: #1d9e34;//green
@raspberry: #7d77b8;//blue
@wb-strawberry: #f060bb;//pink
@wild-cherry: #b21b3c;//red
