// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@skittle-orange: #ff7700
@skittle-green: #2dd200
@skittle-blue: #504bfc
@skittle-cyan: #55f1ff
@skittle-yellow: #f2e661
@skittle-gray: #969896;
@skittles-pink: #e24d94
@skittles-white: white
@skittles-ltorange: #f7ba5b
